html, body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  position: relative;
  display: block;
  overflow-x: hidden;
  background-color: #ececec;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.wrapper {
  display: flex;
  box-sizing: border-box;      
  flex-direction: column;
  place-content: center space-between;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 50px;
}
h1, h2 {
  color: #8000ff;
  margin-top: 0;
  text-align: center;
  font-weight: 800;
}
h1 > sub {
  display: block;
  font-size: 0.75rem;
  font-weight: normal;
  color: #5c5c5c;
}
.rules-list {
  align-self: center;
  margin: 50px 0;
  padding: 25px;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 15px;
}
ol {
  margin:0 0 1.5em;
  padding:0;
  counter-reset:item;
  font-size: 1rem;
}
ol > li {
  margin-bottom: 10px;
  list-style-type:none;
  counter-increment:item;
}
 
ol > li:before {
  display:inline-block;
  width:1.5em;
  padding-right:0.5em;
  font-weight:bold;
  text-align:right;
  content:counter(item) ".";
}
.machine {
  width: 650px;
  border: 1px solid #8000ff;
  border-radius: 15px;
  flex: 1 1;
  align-self: center;
  display: flex;
  place-content: center;
  flex-direction: column;
  padding: 25px;
  margin-bottom: 50px;
}
.machine-reels {
  display: flex;
  height: 150px;
  place-content: center;
}

.machine-reel {
  width: 100px;
  text-align: center;
  line-height: 150px;
  font-size: 64px;
  border-right: 1px solid #8000ff;
}
.machine-reel:last-of-type {
  border-right: none;
}

.machine-message {
  text-align: center;
  font-family: inherit;
  font-weight: bold;
  font-size: 1.25rem;
}

.machine-controls {
  display: flex;
  justify-content: center;
}

button {
  font-size: 1.5rem;
  font-weight: bold;
  display: inline-block;
  border: transparent;
  padding: 10px 20px;
  cursor: pointer;
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
  margin-right: 10px;
}

button[disabled] {
  opacity: 0.5;
}

.machine-button_start {
  background: rgb(28, 184, 65);
}

.machine-button_stop {
  background: rgb(202, 60, 60);
}
footer {
  display: block;
  text-align: center;
}